@import "../../scss_variables/colors";

// COMMON CLASSES =====================
.h1{
    color: white;
}

.header{
    width: 100%;
    height: 5rem;
    background: $pit-green;
    position: fixed;
    top: 0;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    
    
    .menuBtn{
        width: 1.5rem;
    }
    
    
}


@media only screen and (min-width: 900px){
    .header{
        display: none;
    }
    
}