@import "../../scss_variables/colors";
.blur{
    filter: blur(5px);
}
.container{
    width: 90%;
    height: 80%;
    background: #fff;
    
    display: grid;
    grid-template-columns:450px 1fr;
    padding: 1rem 0;
}

.left{
    width: 100%;
    display: flex;
    align-items: center;
    // border: 1px solid red;   
    .img{
        width: 100%;
    }
}


.inputContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 1rem;
}
.row{
    display: flex;
    height: 14%;
}

.btnContainer{
    padding: 0 0 0 1rem;
    height: 20%;
    display: flex;
    align-items: center;
    
    .submit,
    .reset{
        width: 10rem;
        height: 2rem;
        margin-right: 2rem;
        outline: none;
        border: none;
    }
    
    // .reset{
    //     border: none;
    // }
    .submit{
        background: $dark-green;

    }
}


@media only screen and (max-width: 900px){
    
    .container{
        width: 90%;
        height: 80%;
        background: #fff;
        
        display: grid;
        grid-template-columns:1fr;
        padding: 1rem 0;
    }
    
    .left{
        width: 100%;
        display: flex;
        align-items: center;
        // border: 1px solid red;   
        .img{
            width: 100%;
        }
    }
    .form{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    
    .inputContainer{
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: .5rem 0;
    }
    .row{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    
    .btnContainer{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        height: 20%;
        align-items: center;
        
        .submit,
        .reset{
            width: 5rem;
            height: 2rem;
            margin-right: 2rem;
            outline: none;
            border: none;
        }
        
        // .reset{
        //     border: none;
        // }
        .submit{
            background: $dark-green;
    
        }
    }
}