.dashboard{
    width: 13rem;
    height: calc(100vh - 5rem);
    position: fixed;
    border-right: 1px solid #DFDFDF;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.inner{
    width: 90%;
    height: 80%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // border: 1px solid red;
}

.icon{
    width: 1rem;
    margin-right: .5rem;
}

.row1{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    // justify-content: space-evenly;
    .studentImg{
        width: 170px;
        height: 150px;
        border: 3px solid #ffff;
    }
    
    .name{
        font-size: .9rem;
        margin-top: 1rem;
    }
}
.row1::before{
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid #DFDFDF;
}

.row2{
    height: 25%;
    width: 100%;
    padding: 0 .5rem;
    margin-top: 1rem;
    .ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    a{
        text-decoration: none;
    }
    .li{
        list-style-type: none;
        color: #000;
    }
}

.row3{
    height: 35%;
    width: 100%;
    background: #fff;
    border: 2px solid #DFDFDF;
    margin-top: 2rem;
    
    .ul2{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .li2{
        flex: 1;
        list-style-type: none;
    }
    
    .contactContainer,
    .contactContainer2{ //2 so the last contgainer does not have an underline
        padding: .5rem;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    .contactContainer::before{
        content: "";
        width: 90%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: 2px solid #DFDFDF;
    }
    
    .email{
        font-size: .7rem;
    }
    .infoP{
        font-size: .7rem;
    }
}

@media only screen and (max-width: 900px){
    .dashboardIn{
        width: 100vw;
        min-height: 100vh;
        height: 100%;
        position: fixed;
        left: 0rem;
        border-right: 1px solid #DFDFDF;
        background: #F8F8FF;
        // background: #ff2;
        
        display: flex;
        justify-content: center;
        align-items: flex-start;
        animation: slideIn 200ms  linear forwards;
        z-index: 9
    }
    
    .dashboard{
        // display: none;
        width: 20rem;
        height: 100%;
        position: fixed;
        left: -20rem;
        
        border-right: 1px solid #DFDFDF;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background: white;
        animation: slideOut 200ms  linear forwards;
        
    }
    
    .inner{
        width: 90%;
        height: 80%;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        // border: 1px solid red;
    }
    
    .icon{
        width: 1rem;
        margin-right: .5rem;
    }
    
    .row1{
        width: 100%;
        // height: auto;
        height: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        // justify-content: space-evenly;
        .studentImg{
            width: 130px;
            height: 110px;
            border: 3px solid #ffff;
        }
        
        .name{
            font-size: .9rem;
            margin-top: 1rem;
        }
    }
    .row1::before{
        content: "";
       
        border: none
    }
    
    .row2{
        height: 30%;
        // height: auto;
        width: 100%;
        padding: 0 .5rem;
        margin-top: 3rem;
        .ul{
            // height: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        a{
            text-decoration: none;
        }
        .li{
            list-style-type: none;
            color: #000;
            margin-bottom: 1rem;
        }
    }
    
    .row3{
        height: 35%;
        // height: auto;
        width: 100%;
        background: #fff;
        border: 2px solid #DFDFDF;
        margin-top: 2rem;
        
        .ul2{
            display: flex;
            flex-direction: column;
            // height: 100%;
            height: auto;
        }
        .li2{
            flex: 1;
            list-style-type: none;
            
        }
        
        .contactContainer,
        .contactContainer2{ //2 so the last contgainer does not have an underline
            padding: .5rem;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
        }
        .contactContainer::before{
            content: "";
            width: 90%;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            border-bottom: 2px solid #DFDFDF;
        }
        
        .email{
            font-size: .7rem;
        }
        .infoP{
            font-size: .7rem;
        }
    }
    
    
}

@keyframes slideIn{
    0%{
        left: -20rem;
    }
    100%{
        left: 0rem;
    }
}
@keyframes slideOut{
    0%{
        left: 0rem;
    }
    100%{
        left: -20rem;
    }
    
}